{
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "react/jsx-no-bind": [1, {
      "ignoreRefs": true,
      "allowArrowFunctions": true
    }]
  }
}
