# Dependencies pulled via npm
node_modules/

# Optional npm cache directory
.npm/

# Logs
npm-debug.log*

# Distribution files
dist/dashboard-resources/**/*
!dist/dashboard-resources/plugin.html
!dist/dashboard-resources/main_tab.html

# IDE files
.idea/
