# Dependencies managed by npm
node_modules/

# Optional npm cache directory
.npm/

# Logs
npm-debug.log*

# Distribution files
dist/

# Additional build artifacts
extra/

# IDE files
.idea/

# Zanata Cache files
.zanata-cache/

